# Created by https://www.gitignore.io/api/vagrant,sublimetext

### Vagrant ###
.vagrant/


### SublimeText ###
# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
# *.sublime-project

# sftp configuration file
sftp-config.json


### Custom ###
*.exe
*.cab
*.box
*.zip
*.7z

scripts/elevate-1.3.0-redist
